/inferlink_inventory.csv
/minmod_hyper_response_enriched_nickel_subset_43_101_gt.csv
/inferlink_ground_truth_val.csv
/inferlink_metadata.csv
/inferlink_ground_truth.csv
/minmod_hyper_response_enriched_nickel.csv
/inferlink_ground_truth_test_val.csv
/inferlink_ground_truth_test.csv
